In [ ]:
import warnings
warnings.filterwarnings('ignore')

import pandas as pd
import numpy as np

In [ ]:
from google.colab import files
uploaded = files.upload()

Saving gender_train.csv to gender_train.csv
Saving tr_mcc_codes.csv to tr_mcc_codes.csv
Saving tr_types.csv to tr_types.csv
Saving transactions.csv to transactions.csv

## Задание 0

Для всех  заданий будем использовать обезличенные транзакционные банковские данные. Для этого считайте в переменные **tr_mcc_codes, tr_types, transactions и gender_train** из одноимённых таблиц из папки data. Для таблицы transactions используйте только первые n=1000000 строк. Обратите внимание на разделители внутри каждого из файлов - они могут различаться!

In [ ]:
tr_mcc_codes = pd.read_csv(filepath_or_buffer = "tr_mcc_codes.csv", sep=';')

In [ ]:
tr_mcc_codes.head()

   mcc_code                                    mcc_description
0       742                                Ветеринарные услуги
1      1711  Генеральные подрядчики по вентиляции, теплосна...
2      1731                        Подрядчики по электричеству
3      1799  Подрядчики, специализированная торговля — нигд...
4      2741           Разнообразные издательства/печатное дело

In [ ]:
tr_types = pd.read_csv(filepath_or_buffer = "tr_types.csv", sep = ';')

In [ ]:
tr_types.head()

   tr_type                                     tr_description
0     3200  Плата за предоставление услуг посредством моби...
1     3210  Плата за предоставление отчета по счету карты ...
2     3800  Плата за обслуживание банковской карты (за пер...
3     4000            Плата за получение наличных в Сбербанке
4     4001  Плата за получение наличных в Сбербанке (в дру...

In [ ]:
transactions = pd.read_csv(filepath_or_buffer = "transactions.csv",
           nrows = 1000000)

In [ ]:
transactions.head()

   customer_id tr_datetime  mcc_code  tr_type    amount term_id
0     39026145  0 10:23:26      4814     1030  -2245.92     NaN
1     39026145  1 10:19:29      6011     7010  56147.89     NaN
2     39026145  1 10:20:56      4829     2330 -56147.89     NaN
3     39026145  1 10:39:54      5499     1010  -1392.47     NaN
4     39026145  2 15:33:42      5499     1010   -920.83     NaN

In [ ]:
gender_train = pd.read_csv(filepath_or_buffer = "gender_train.csv")

In [ ]:
gender_train.head()

   customer_id  gender
0     10928546       1
1     69348468       1
2     61009479       0
3     74045822       0
4     27979606       1

###  Описание данных
#### Таблица ```transactions.csv```
##### Описание
Таблица содержит историю транзакций клиентов банка за один год и три месяца.

##### Формат данных

```
customer_id,tr_datetime,mcc_code,tr_type,amount,term_id
111111,15 01:40:52,1111,1000,-5224,111111
111112,15 15:18:32,3333,2000,-100,11122233
...
```
##### Описание полей

 - ```customer_id``` — идентификатор клиента;
 - ```tr_datetime``` — день и время совершения транзакции (дни нумеруются с начала данных);
 - ```mcc_code``` — mcc-код транзакции;
 - ```tr_type``` — тип транзакции;
 - ```amount``` — сумма транзакции в условных единицах со знаком; ```+``` — начисление средств клиенту (приходная транзакция), ```-``` — списание средств (расходная транзакция);
 - ```term_id``` — идентификатор терминала;


#### Таблица ```gender_train.csv```

##### Описание
Данная таблица содержит информацию по полу для части клиентов, для которых он известен. Для остальных клиентов пол неизвестен.

##### Формат данных
```
customer_id,gender
111111,0
111112,1
...
```

##### Описание полей
 - ```customer_id``` — идентификатор клиента;
 - ```gender``` — пол клиента;

### Таблица ```tr_mcc_codes.csv```

##### Описание
Данная таблица содержит описание mcc-кодов транзакций.

##### Формат данных
```
mcc_code;mcc_description
1000;словесное описание mcc-кода 1000
2000;словесное описание mcc-кода 2000
...
```

##### Описание полей
 - ```mcc_code``` – mcc-код транзакции;
 - ```mcc_description``` — описание mcc-кода транзакции.

#### Таблица ```tr_types.csv```

##### Описание
Данная таблица содержит описание типов транзакций.

##### Формат данных
```
tr_type;tr_description
1000;словесное описание типа транзакции 1000
2000;словесное описание типа транзакции 2000
...
```

##### Описание полей
 - ```tr_type``` – тип транзакции;
 - ```tr_description``` — описание типа транзакции;

## Задание 1

1. Для столбца tr_type датафрейма transactions выберите произвольные 1000 строк с помощью метода sample
2. В полученной на предыдущем этапе подвыборке найдите долю транзакций (стобец tr_description в датасете tr_types), в которой содержится подстрока 'POS' или 'ATM'

In [ ]:
transactions_sample = transactions['tr_type'].sample(n=1000, random_state=23)

In [ ]:
transactions_sample.reset_index(drop=True, inplace=True)

In [ ]:
grouped_trans = transactions_sample.groupby(transactions_sample.values).count()

In [ ]:
sought_trans = 0
for i in list(grouped_trans.index):
    descr = tr_types[(tr_types['tr_type'] == i)]['tr_description'].values
    if not descr:
        continue
    print(descr)
    if 'POS' in descr[0] or 'АТМ' in descr[0]:
        sought_trans += 1 * grouped_trans[i]
        print(sought_trans, grouped_trans[i])

['Покупка. POS ТУ СБ РФ']
245 245
['Оплата услуги. Банкоматы СБ РФ']
['Покупка. ТУ  Россия']
['Покупка. POS ТУ Россия']
381 136
['Покупка. Зарубеж. ТУ']
['Покупка. POS  Зарубеж. ТУ']
387 6
['Выдача наличных в АТМ Сбербанк России']
538 151
['Выдача наличных в АТМ Сбербанка (в других ТБ)']
550 12
['Наличные.   АТМ Россия']
551 1
['Наличные.  АТМ Зарубеж. банк']
552 1
['Безналичный перевод денежных средств через POS']
553 1
['Списание с карты по операции “перевода с карты на карту” через АТМ (в пределах одного тер.банка)']
558 5
['Списание с карты по операции “перевода с карты на карту” через АТМ (из одного ТБ в другой ТБ)']
560 2
['Списание с карты на карту по операции <перевода с карты на карту> через Мобильный банк (без комиссии)']
['Списание с карты на карту по операции <перевода с карты на карту> через Мобильный банк (с комиссией)']
['Плата за получение наличных в АТМ Сбербанка']
565 5
['Плата за получение наличных в АТМ Сбербанка (в других ТБ)']
567 2
['Плата за перевод на карту (с карты) через АТМ (из одного ТБ в другой ТБ)']
571 4
['Плата за перевод на карту (с карты) через Мобильный банк']
['н/д']
['Плата за получение наличных в АТМ. Россия']
573 2
['Плата за получение наличных в АТМ. Зарубеж.']
575 2
['Возврат покупки. POS ТУ Россия']
576 1
['Взнос наличных через АТМ (в своем тер.банке)']
609 33
['Взнос наличных через POS']
612 3
['Перевод на карту (с карты) через АТМ (в пределах одного тер.банка)']
640 28
['Перевод на карту (с карты) через АТМ (из одного ТБ в другой ТБ)']
642 2
['Перевод на карту (с карты) через Мобильный банк (без взимания комиссии с отправителя)']
['Перевод на карту (с карты) через Мобильный банк (с взиманием комиссии с отправителя)']

In [ ]:
share_of_trans = sought_trans / 1000
print(f'Доля транзакций: {share_of_trans}')

Доля транзакций: 0.642

## Задание 2

1. Для столбца tr_type датафрейма transactions посчитайте частоту встречаемости всех типов транзакций tr_type в transactions.
2. Выведите топ-10 транзакций по частоте встречаемости.

In [ ]:
tr_type_grouped = transactions.groupby(['tr_type'])['tr_type'].count().sort_values(ascending=False).nlargest(10)

In [ ]:
L = np.vstack([tr_types[(tr_types['tr_type'] == i)].values for i in tr_type_grouped.index])

In [ ]:
df = pd.DataFrame(data=L)

In [ ]:
df = df.rename(columns={0: "tr_type", 1 : "tr_description"})

In [ ]:
df['freq_of_occurr'] = tr_type_grouped.values

In [ ]:
df

  tr_type                                     tr_description  freq_of_occurr
0    1010                              Покупка. POS ТУ СБ РФ          231117
1    2010              Выдача наличных в АТМ Сбербанк России          151166
2    7070  Перевод на карту (с карты) через Мобильный бан...          149006
3    1110                             Покупка. POS ТУ Россия          137658
4    1030                     Оплата услуги. Банкоматы СБ РФ          118975
5    2370  Списание с карты на карту по операции <перевод...           49830
6    7010       Взнос наличных через АТМ (в своем тер.банке)           28972
7    7030  Перевод на карту (с карты) через АТМ (в предел...           26078
8    7071  Перевод на карту (с карты) через Мобильный бан...           15781
9    1100                                Покупка. ТУ  Россия           15476

## Задание 3
1. В датафрейме transactions найдите клиента с максимальной суммой приходов на карту
2. В датафрейме transactions найдите клиента с максимальной суммой расходов по карте
3. Найдите разницу для этих клиентов между суммой расходов и суммой приходов

In [ ]:
transactions[(transactions['amount'] == max(transactions['amount']))]

        customer_id   tr_datetime  mcc_code  tr_type        amount term_id
308597     26782922  151 11:35:44      6010     7070  1.459845e+08     NaN

In [ ]:
transactions[(transactions['amount'] == min(transactions['amount']))]

        customer_id   tr_datetime  mcc_code  tr_type        amount term_id
308596     26782922  151 11:35:21      4829     2370 -1.459845e+08     NaN

In [ ]:
diff = max(transactions['amount']) + min(transactions['amount'])

In [ ]:
print(f'Сумма приходов превышает сумму расходов на: {diff}')

Сумма приходов превышает сумму расходов на: 0.0

## Задание 4
1. Найдите среднее арифметическое и медиану по всем типам транзакций из топ 10 из задания 2
1. Найдите среднее арифметическое и медиану по всем типам транзакций для клиентов из задания 3

#### Пункт 1

In [ ]:
mean_values = [transactions[(transactions['tr_type'] == i)]['amount'].mean() for i in tr_type_grouped.index]
median_values = [transactions[(transactions['tr_type'] == i)]['amount'].median() for i in tr_type_grouped.index]

In [ ]:
df['amount_mean'] = mean_values
df['amount_median'] = median_values
df

  tr_type  ... amount_median
0    1010  ...      -7411.52
1    2010  ...     -44918.32
2    7070  ...      11319.42
3    1110  ...     -11207.57
4    1030  ...      -2245.92
5    2370  ...     -44918.32
6    7010  ...     112295.79
7    7030  ...      13951.52
8    7071  ...       3593.47
9    1100  ...     -10188.26

[10 rows x 5 columns]

#### Пункт 2

Среднее арифметическое по всем типам транзакций для клиента:

In [ ]:
transactions[(transactions['customer_id'] == 26782922)]['amount'].mean()

-176320.91789115628

Медиана по всем типам транзакций для клиента:

In [ ]:
transactions[(transactions['customer_id'] == 26782922)]['amount'].median()

-55860.53

## Подготовка для заданий 5-8

*Из заданий 5-8 нужно выполнить минимум два любых*

Соедините transactions с всеми остальными таблицами (tr_mcc_codes, tr_types, gender_train). Причём с gender_train необходимо смёрджиться с помощью left join, а с оставшимися датафреймами - через inner.
После получения результата таблицы gender_train, tr_types, tr_mcc_codes можно удалить. В результате соединения датафреймов должно получиться 999584 строки.

In [ ]:
transactions = pd.merge(transactions, gender_train, how='left')
transactions = pd.merge(transactions, tr_mcc_codes, how='inner')
transactions = pd.merge(transactions, tr_types, how='inner')
transactions.shape

(999584, 9)

## Задание 5

1. Определите модуль разницы между средними тратами женщин и мужчин (трата - отрицательное значение amount).
2. Определите модуль разницы между средними поступлениями у мужчин и женщин

Обратите внимание, что для вычисления модуля разности точных знаний о том, 
какой класc относится к мужчинам, а какой - к женщинам, не требуется.

#### Пункт 1

In [ ]:
spendings_0 = transactions[(transactions["gender"] == 0)]['amount'].where(transactions["amount"] < 0).dropna().mean()
spendings_1 = transactions[(transactions["gender"] == 1)]['amount'].where(transactions["amount"] < 0).dropna().mean()

In [ ]:
spendings_diff_mod = abs(spendings_0 - spendings_1)
print(f'Модуль разницы между средними тратама женщин и мужчин: {spendings_diff_mod}')

Модуль разницы между средними тратама женщин и мужчин: 32718.05492021877

#### Пункт 2

In [ ]:
arrivals_0 = transactions[(transactions["gender"] == 0)]['amount'].where(transactions["amount"] > 0).dropna().mean()
arrivals_1 = transactions[(transactions["gender"] == 1)]['amount'].where(transactions["amount"] > 0).dropna().mean()

In [ ]:
arrivals_diff_mod = abs(arrivals_0 - arrivals_1)
print(f'Модуль разницы между средними поступлениями у женщин и мужчин: {arrivals_diff_mod}')

Модуль разницы между средними поступлениями у женщин и мужчин: 63366.57104801515

## Задание 6

1. По всем типам транзакций рассчитайте максимальную сумму прихода на карту (из строго положительных сумм по столбцу amount) отдельно для мужчин и женщин (назовите ее "max_income"). Оставьте по 10 транзакций для мужчин и для женщин, наименьших среди всех транзакций по полученным значениям "max_income". 
2. Выделите среди них те, которые встречаются одновременно и у мужчин, и у женщин

## Задание 7

1. Найдите суммы затрат по каждой категории для мужчин и для женщин. 
2. Найдите топ 5 категорий с самыми большими относительными модулями разности для в тратах для разных полов.

## Задание 8

1. Из поля tr_datetime выделите час tr_hour, в который произошла транзакция, как первые 2 цифры до ":". (\**)
2. Посчитайте ночные поступления для мужчин и женщин. Ночные - это примерно 00-06 часов.

In [ ]:
def hour_parser(datetime_str):
    for i in range(len(datetime_str)):
        if datetime_str[i] == ' ':
            h = datetime_str[i+1:i+3]
            break
    return int(h)

In [ ]:
tr_hour = [hour_parser(transactions['tr_datetime'][i]) for i in range(len(transactions))]

In [ ]:
transactions['tr_hour'] = tr_hour

In [ ]:
transactions.head()

   customer_id  tr_datetime  ...                  tr_description  tr_hour
0     39026145   0 10:23:26  ...  Оплата услуги. Банкоматы СБ РФ       10
1     39026145   6 07:08:31  ...  Оплата услуги. Банкоматы СБ РФ        7
2     39026145   8 07:06:10  ...  Оплата услуги. Банкоматы СБ РФ        7
3     39026145  11 08:49:03  ...  Оплата услуги. Банкоматы СБ РФ        8
4     39026145  11 14:12:08  ...  Оплата услуги. Банкоматы СБ РФ       14

[5 rows x 10 columns]

In [ ]:
night_arrivals_0 = transactions[(transactions["gender"] == 0)]['amount'] \
                    .where((transactions["amount"] > 0) & (transactions["tr_hour"].between(0, 6, inclusive=False))).dropna().sum()

night_arrivals_1 = transactions[(transactions["gender"] == 1)]['amount'] \
                    .where((transactions["amount"] > 0) & (transactions["tr_hour"].between(0, 6, inclusive=False))).dropna().sum()

In [ ]:
night_arrivals_0

321427508.01

In [ ]:
night_arrivals_1

560064280.6800001

## Доп. задание

Давайте посчитаем, какое количество транзакций было совершено в ночное время представителями разных полов, и посчитаем, сколько было уникальных клиентов каждого пола.

#### Пункт 1
Количество ночных транзакций для разных полов:

In [ ]:
transactions[(transactions["gender"] == 0)]['tr_type'] \
                    .where(transactions["tr_hour"].between(0, 6, inclusive=False)).dropna().count()

11613

In [ ]:
transactions[(transactions["gender"] == 1)]['tr_type'] \
                    .where(transactions["tr_hour"].between(0, 6, inclusive=False)).dropna().count()

31584

#### Пункт 2
Количество уникальных клиентов каждого пола:

In [ ]:
len(transactions[(transactions["gender"] == 0)]['customer_id'] \
                    .where(transactions["tr_hour"].between(0, 6, inclusive=False)).dropna().unique())

385

In [ ]:
len(transactions[(transactions["gender"] == 1)]['customer_id'] \
                    .where(transactions["tr_hour"].between(0, 6, inclusive=False)).dropna().unique())

364

In [ ]:
transactions[(transactions["gender"] == 1)]['customer_id'] \
                    .where(transactions["tr_hour"].between(0, 6, inclusive=False)).dropna()

31584

In [ ]:
idx = (transactions[(transactions["gender"] == 0)] \
                    .where(transactions["tr_hour"].between(0, 6, inclusive=False)).dropna().groupby(['customer_id']).count())['tr_type'].nlargest(1).index.values

In [ ]:
transactions[(transactions["customer_id"] == int(idx))]

        customer_id  ... tr_hour
116683     76606773  ...       6
116684     76606773  ...       7
116685     76606773  ...       5
116686     76606773  ...       8
116687     76606773  ...      15
...             ...  ...     ...
997227     76606773  ...      19
997228     76606773  ...       9
997229     76606773  ...      13
997230     76606773  ...      14
998286     76606773  ...       7

[2496 rows x 10 columns]